.social
  margin: 0
  padding: 0
  list-style: none
  display: flex
  align-items: center
  & > *:not(:last-child)
    margin-right: 30px
  li
    a
      display: flex
      align-items: center
      font-size: 14px
      color: #fff
  &__icon
    margin-right: 10px
    +size(12px)
    fill: $minsk