.parallax
  position: absolute
  z-index: -1
  &-1
    bottom: -300px
    left: 51%
    width: 170px
    height: 100px
    z-index: 1
    +r(767)
      width: 90px
      height: 50px
      left: 33%
  &-2
    top: 600px
    right: -160px
    width: 350px
    height: 200px
    opacity: 0.2
    +r(767)
      display: none
  &-3
    top: -400px
    left: -100px
    width: 200px
    height: 350px
    opacity: 0.2
    +r(767)
      display: none
  &-4
    width: 100px
    height: 170px
    top: -700px
    left: 100px
    +r(1200)
      left: 50px
    +r(992)
      display: none
  &-5
    top: -500px
    left: -175px
    width: 350px
    height: 200px
    opacity: 0.1
    +r(767)
      display: none
  &-6
    top: 800px
    left: 70%
    width: 350px
    height: 200px
    opacity: 0.1
    +r(992)
      display: none
  &-7
    top: -700px
    left: -100px
    width: 200px
    height: 350px
    opacity: 0.2
  &-8
    bottom: -130px
    right: 30px
    width: 200px
    height: 350px
    opacity: 0.2
    +r(767)
      width: 70px
      height: 120px
      right: 15px
      bottom: -60px
  &-9
    bottom: 50px
    left: 30px
    width: 200px
    height: 350px
    opacity: 0.1
    +r(767)
      display: none