.swiper-pagination
  &-bullet
    +size(10px)
    background-color: $silver-chalice
    opacity: 1
    +trans
    &-active
      width: 30px
      background-color: $sunset-orange
      border-radius: 10px