@import 'logo'

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 30px 0
  z-index: 10
  +trans
  +r(767)
    padding: 15px 0
  &.fixed
    padding: 20px 0
    background-color: rgba(#fff, 0.8)
    box-shadow: 0 5px 20px rgba($mine-shaft, 0.1)
    +r(767)
      padding: 10px 0
    &:before
      content: ''
      position: absolute
      top: -25px
      left: -25px
      right: 0
      bottom: 0
      background: inherit
      filter: blur(20px)
      backdrop-filter: blur(20px)
      box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5)
      z-index: -1
      +trans
    .header__logo
      color: $accent
  .container
    display: flex
    align-items: center
  &__nav
    margin-left: auto
  &__social
    margin-left: 55px
    +r(1200)
      & > *:not(:last-child)
        margin-right: 10px
    +r(992)
      margin-left: 0
    .social__item
      &--linkedin
        a
          font-size: 16px
          color: $deep-cerulean
        svg
          +size(15px)
          fill: $deep-cerulean
      &--twitter
        a
          font-size: 16px
          color: $picton-blue
        svg
          +size(15px)
          fill: $picton-blue
    span
      +r(1200)
        display: none