extends template/main

block variables
  - var title = 'Home'
  - var pageClass = ''

block content
  include pages/index/hero
  include pages/index/public-sp
  include pages/index/consulting
  include pages/index/project
  include pages/index/press