*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

/* Clearfix for float elements */
.clearfix:before,
.clearfix:after
  content: ''
  display: table

.clearfix:after 
  clear: both

.clearfix
  zoom: 1 /* For IE 6/7 hasLayout */


/* Common styles */
html
  overflow-x: hidden

body
  margin: 0
  padding: 0
  min-width: 320px
  font-family: $main-font
  font-size: 16px
  line-height: 1.5
  color: $main-color
  overflow-x: hidden

img
  max-width: 100%
  height: auto

a
  color: $mine-shaft
  +trans
  &:hover, &:focus
    color: $accent
    outline: none
    text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: $bn
  color: $mine-shaft
  line-height: 1.3
  letter-spacing: 0.25px

h2
  font-size: 60px

section
  position: relative

/* Hidden element */
.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  clip: rect(0 0 0 0)
  overflow: hidden

/* Buttons */
.btn
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 20px 30px
  font-family: $main-font
  font-size: 16px
  font-weight: 600
  color: #fff
  text-align: center
  background-color: $sunset-orange
  border: 0
  outline: none
  text-decoration: none
  cursor: pointer
  user-select: none
  transition: all .25s ease
  border-radius: 50px
  letter-spacing: 0.5px
  overflow: hidden
  z-index: 1
  +r(767)
    font-size: 14px
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $accent
    z-index: -1
    transform: translateY(-100%)
    border-radius: inherit
    +trans
  &:hover
    color: #fff
    &:before
      transform: translateY(0)
  &:active
    color: #fff
    &:before
      transform: translateY(0)
  &:focus
    color: #fff
    &:before
      transform: translateY(0)
  &[disabled]
    background-color: #e5e5e5
    cursor: not-allowed
    color: #fff