footer.footer#contacts
  .container
    .footer__content
      h2.section-title Make your <br>future with us
      .footer__contact
        h3 Contact with me:
        a(href="mailto:matthew.mar10@gmail.com").footer__contact-email
          +icon('envelope')
          | matthew.mar10@gmail.com
        a(href="//matmar10.com", target="_blank").footer__contact-site
          +icon('globe')
          | matmar10.com
      .footer__social-media
        h3 On Social Media:
        ul.social.footer__social
          li
            a(href="#")
              +icon('linkedin', 'social__icon')
              | LinkedIn
          li
            a(href="#")
              +icon('twitter', 'social__icon')
              | Twitter
          li
            a(href="#")
              +icon('github', 'social__icon')
              | Github
          li
            a(href="#")
              +icon('instagram', 'social__icon')
              | Instagram
          li
            a(href="#")
              +icon('facebook', 'social__icon')
              | Facebook
          li
            a(href="#")
              +icon('medium', 'social__icon')
              | Medium
          li
            a(href="#")
              +icon('youtube', 'social__icon')
              | YouTube
          li
            a(href="#")
              +icon('angellist', 'social__icon')
              | AngelList
          li
            a(href="#")
              +icon('google-plus', 'social__icon')
              | Google Plus
          li
            a(href="#")
              +icon('slideshare', 'social__icon')
              | SlideShare
          li
            a(href="#")
              +icon('yelp', 'social__icon')
              | Yelp
    .footer__bottom
      p.copyright &copy; 2019 E2E Labs, LLC
      a(href="#", target="_blank") Privacy Policy
      a(href="#", target="_blank") Terms of Use

  img(src="static/images/general/sea-vertical-purple.svg", alt="").parallax.parallax-9