.modal#engagement
  button.modal__close.engagement_close

  h2.modal__title Book an Engagement
  form.form(action="#")
    .form-group
      input(type="text", name="name", required, placeholder="Your name").form__field
    .form-group
      input(type="text", name="name_event", required, placeholder="Name of event").form__field
    .form-group
      input(type="date", name="date_event", required, placeholder="Date of event").form__field
    .form-group
      input(type="text", name="topic", required, placeholder="Topic of presentation / panel").form__field
    p Flight and hotel accommodation provided?
    .form__row
      .form-group
        input(type="radio", name="fly_hotel", value="yes", id="fly-yes", checked).form__radio
        label(for="fly-yes").form__label.form__label--radio Yes
      .form-group
        input(type="radio", name="fly_hotel", value="no", id="fly-no").form__radio
        label(for="fly-no").form__label.form__label--radio No
    p Paid event?
    .form__row
      .form-group
        input(type="radio", name="paid", value="yes", id="paid-yes", checked).form__radio
        label(for="paid-yes").form__label.form__label--radio Yes
      .form-group
        input(type="radio", name="paid", value="no", id="paid-no").form__radio
        label(for="paid-no").form__label.form__label--radio No
    .form-group.form-group--btn
      button(type="submit").btn.form__btn Book an Engagement


.modal.project-modal#project-1
  button.modal__close.project-1_close

  .project-modal__wrap

    .project-modal__slider.swiper-container
      .swiper-wrapper
        .project-modal__slider-item.swiper-slide
          img(src="static/images/content/project-slider-1.jpg", alt="")
        .project-modal__slider-item.swiper-slide
          img(src="static/images/content/project-slider-1.jpg", alt="")
      .swiper-pagination

    .project-modal__content-wrap
      .project-modal__content
        img(src="static/images/content/project-logo-1.png", alt="")
        h3.project-modal__content-title Delivery Routing Console
        p
          strong Back-office tool for dispatching delivery drivers with multiple trans-shipment routing capabilities.
        p The routing delivery challenges for this fast growing food-tech startup was a major pain point for both the operations team and users alike! I designed a new UI, retooled the underlying data model, and built both a brand ne

      .project-modal__note
        h4 Disclaimer
        p
          strong The above images are:
          ul
            li Provided for illustrative purposes only
            li Generated from simulated data only
            li Not reflective of actual business data or conditions
            li Have not been endorsed by the business

.modal.project-modal#project-2
  button.modal__close.project-2_close

  .project-modal__wrap

    .project-modal__slider.swiper-container
      .swiper-wrapper
        .project-modal__slider-item.swiper-slide
          img(src="static/images/content/project-slider-1.jpg", alt="")
        .project-modal__slider-item.swiper-slide
          img(src="static/images/content/project-slider-1.jpg", alt="")
        .project-modal__slider-item.swiper-slide
          img(src="static/images/content/project-slider-1.jpg", alt="")
      .swiper-pagination

    .project-modal__content-wrap
      .project-modal__content
        img(src="static/images/content/project-logo-1.png", alt="")
        h3.project-modal__content-title Delivery Routing Console
        p
          strong Back-office tool for dispatching delivery drivers with multiple trans-shipment routing capabilities.
        p The routing delivery challenges for this fast growing food-tech startup was a major pain point for both the operations team and users alike! I designed a new UI, retooled the underlying data model, and built both a brand ne

      .project-modal__note
        h4 Disclaimer
        p
          strong The above images are:
          ul
            li Provided for illustrative purposes only
            li Generated from simulated data only
            li Not reflective of actual business data or conditions
            li Have not been endorsed by the business