section.consulting#consulting
  .container

    .consulting__wrap
      h2.section-title Consulting
      .consulting__content
        h3.consulting__name Matthew J. Martin
        p.consulting__position PRODUCT, ENGINEERING, & UX
        p FinTech & Islamic finance practitioner with 13+ years software industry experience spanning fintech & consumer electronics, including product & engineering management as well as UX/UI design; blockchain advocate & early adopter

      .consulting__work
        h4 Blossom Labs, Inc.
        p.consulting__position Founder/CEO
        p.consulting__date October, 2014 - Present
        p Digital platform for issuing Sukuk financing for social impact & ethical projects

      .consulting__row
        .consulting__skill
          .consulting__skill-item
            p.consulting__skill-number 68
            p.consulting__skill-title Persons <br>Mentored
          .consulting__skill-item
            p.consulting__skill-number 45
            p.consulting__skill-title Workshops <br>Attended
          .consulting__skill-item
            p.consulting__skill-number 12
            p.consulting__skill-title Projects <br>Finished
        .consulting__img
          img(src="static/images/content/consulting.jpg", alt="")

      a.btn(href="#") Book a Consultation

  img(src="static/images/general/sea.svg", alt="").parallax.parallax-1

// /.consulting