section.hero
  .hero__container
    .hero__img
      img(src="static/images/general/matthew.png", alt="")
    .hero__content
      p Hello, I'm Matthew
      h1 "I'm the Founder & CEO <br>of Blossom Finance"
      a(href="#").btn.engagement_open Book an Engagement

// /.hero