section.press#pp
  .container
    h2.section-title Press & Publications

    .press-list.row
      .press-list__item.col-lg-4.col-md-6
        .press-list__inner
          .press-list__img-wrap
            img(src="static/images/content/press-1.jpg", alt="")
          .press-list__content
            .press-list__logo
              img(src="static/images/content/press-logo-1.png", alt="")
            h3.press-list__title
              a(href="inner.html") Islamic Finance Upgraded: Smarter Sukuk Using Blockchain
            p Blossom Finance announces SmartSuku™ platform for issuing blockchain-powered Islamic financing instrutments using Ethereum smart contracts
            time(datetime="2018-05-07").press-list__publish Monday, May 7th, 2018
      .press-list__item.col-lg-4.col-md-6
        .press-list__inner
          .press-list__img-wrap
            img(src="static/images/content/press-2.jpg", alt="")
          .press-list__content
            .press-list__logo
              img(src="static/images/content/press-logo-1.png", alt="")
            h3.press-list__title
              a(href="inner.html") Muslims Can Now Pay Zakat in Cryptocurrency
            p Free service allowing Muslims to pay their annual obligatory charity payment (zakat) owed against cryptocurrency holdings directly using the blockchain
            time(datetime="2018-05-23").press-list__publish Wednesday, May 23rd, 2018
      .press-list__item.col-lg-4.col-md-6
        .press-list__inner
          .press-list__img-wrap
            img(src="static/images/content/press-3.jpg", alt="")
          .press-list__content
            .press-list__logo
              img(src="static/images/content/press-logo-1.png", alt="")
            h3.press-list__title
              a(href="inner.html") Blossom Wins World Islamic FinTech Award
            p Awarded "Most Innovative Use of Blockchain for Islamic Finance" for SmartSukuk™
            time(datetime="2018-05-07").press-list__publish Monday, November 26th, 2018

    .press__bottom
      a(href="#").btn.btn--trans.press__more Show more
      a(href="#").btn.btn--trans.btn--trans-red.press__book Book a Press Interview

  img(src="static/images/general/sea-vertical-red.svg", alt="").parallax.parallax-4

// /.press