section.project#projects
  .container
    .project__head
      h2.section-title Projects
      p.project__desc A portfolio list of projects <br>I’ve worked on:

    .project-list
      .project-list__item(style="background-image: url('static/images/content/project-1.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-2.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-2_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-3.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-4.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-5.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-3.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-4.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details
      .project-list__item(style="background-image: url('static/images/content/project-5.jpg')")
        span.project-list__link View details
        .project-list__inner
          .project-list__content
            img(src="static/images/content/project-logo-1.png", alt="")
            h3.project-list__title Delivery Driver App
            p iOS/Android native app for delivery drivers with real-time updates with onboard order sorting features.
            a(href="#").project-list__view-detail.project-1_open View project details

    a(href="#").btn.btn--trans.project__more Show more

    a(href="#").btn.btn--trans.btn--trans-red.project__book Book a Consultation

  img(src="static/images/general/sea.svg", alt="").parallax.parallax-2
  img(src="static/images/general/sea-vertical.svg", alt="").parallax.parallax-3

// /.project