section.public-sp#ps
  .public-sp__item(style="background-image: url('static/images/content/public-sp-1.jpg')")
    span.public-sp__link View details
    .public-sp__inner
      .public-sp__content
        img(src="static/images/content/public-logo-1.png", alt="")
        p.public-sp__date Surabaya, Indonesia | December, 2018
        p.public-sp__suptitle Indonesian Islamic Economy Summit
        h2.public-sp__title "Using Technology to <br>Strengthen the Islamic <br>Economy"
        p.public-sp__place Bank Indonesia (Central Bank of Indonesia)
        a.btn.engagement_open(href="#") Book an Engagement
  .public-sp__item(style="background-image: url('static/images/content/public-sp-2.jpg')")
    span.public-sp__link View details
    .public-sp__inner
      .public-sp__content
        img(src="static/images/content/public-logo-1.png", alt="")
        p.public-sp__date Surabaya, Indonesia | December, 2018
        p.public-sp__suptitle Indonesian Islamic Economy Summit
        h2.public-sp__title "Using Technology to <br>Strengthen the Islamic <br>Economy"
        p.public-sp__place Bank Indonesia (Central Bank of Indonesia)
        a.btn.engagement_open(href="#") Book an Engagement
  .public-sp__item(style="background-image: url('static/images/content/public-sp-3.jpg')")
    span.public-sp__link View details
    .public-sp__inner
      .public-sp__content
        img(src="static/images/content/public-logo-1.png", alt="")
        p.public-sp__date Surabaya, Indonesia | December, 2018
        p.public-sp__suptitle Indonesian Islamic Economy Summit
        h2.public-sp__title "Using Technology to <br>Strengthen the Islamic <br>Economy"
        p.public-sp__place Bank Indonesia (Central Bank of Indonesia)
        a.btn.engagement_open(href="#") Book an Engagement
  .public-sp__item(style="background-image: url('static/images/content/public-sp-4.jpg')")
    span.public-sp__link View details
    .public-sp__inner
      .public-sp__content
        img(src="static/images/content/public-logo-1.png", alt="")
        p.public-sp__date Surabaya, Indonesia | December, 2018
        p.public-sp__suptitle Indonesian Islamic Economy Summit
        h2.public-sp__title "Using Technology to <br>Strengthen the Islamic <br>Economy"
        p.public-sp__place Bank Indonesia (Central Bank of Indonesia)
        a.btn.engagement_open(href="#") Book an Engagement
  .public-sp__item(style="background-image: url('static/images/content/public-sp-5.jpg')")
    span.public-sp__link View details
    .public-sp__inner
      .public-sp__content
        img(src="static/images/content/public-logo-1.png", alt="")
        p.public-sp__date Surabaya, Indonesia | December, 2018
        p.public-sp__suptitle Indonesian Islamic Economy Summit
        h2.public-sp__title "Using Technology to <br>Strengthen the Islamic <br>Economy"
        p.public-sp__place Bank Indonesia (Central Bank of Indonesia)
        a.btn.engagement_open(href="#") Book an Engagement



// /.public-sp