section.testimonial#testimonials
  .container
    h2.section-title Testimonial

    .testimonial-slider.swiper-container
      .swiper-wrapper
        .testimonial-slider__item.swiper-slide
          .testimonial-slider__container
            img(src="static/images/content/user.jpg", alt="").testimonial-slider__user
            .testimonial-slider__wrap
              .testimonial-slider__head
                h3.testimonial-slider__name Katie Holden
                p.testimonial-slider__position Product Manager at Boku, Inc.
              .testimonial-slider__content
                p Matthew is a rarity among front-end developers. He a unique blend of hard-working, very skilled technically, and also has a sound design sense. He is particularly strong with leading-edge code practice and new UX principles and theory. This makes him an ideal candidate for companies with ambitious plans who iterate quickly on concepts. I think my favorite part about Matthew is his attitude. He is always quick to find ways to make the best design possible, even if it means substantial technical work or learning something new. I have often heard PM's and designers say he is "delightful" to work with. I echo those sentiments. His leadership and talents will be a great addition to any team.
                a(href="#") Read all
        .testimonial-slider__item.swiper-slide
          .testimonial-slider__container
            img(src="static/images/content/user.jpg", alt="").testimonial-slider__user
            .testimonial-slider__wrap
              .testimonial-slider__head
                h3.testimonial-slider__name Katie Holden
                p.testimonial-slider__position Product Manager at Boku, Inc.
              .testimonial-slider__content
                p Matthew is a rarity among front-end developers. He a unique blend of hard-working, very skilled technically, and also has a sound design sense. He is particularly strong with leading-edge code practice and new UX principles and theory. This makes him an ideal candidate for companies with ambitious plans who iterate quickly on concepts. I think my favorite part about Matthew is his attitude. He is always quick to find ways to make the best design possible, even if it means substantial technical work or learning something new. I have often heard PM's and designers say he is "delightful" to work with. I echo those sentiments. His leadership and talents will be a great addition to any team.
                a(href="#") Read all
        .testimonial-slider__item.swiper-slide
          .testimonial-slider__container
            img(src="static/images/content/user.jpg", alt="").testimonial-slider__user
            .testimonial-slider__wrap
              .testimonial-slider__head
                h3.testimonial-slider__name Katie Holden
                p.testimonial-slider__position Product Manager at Boku, Inc.
              .testimonial-slider__content
                p Matthew is a rarity among front-end developers. He a unique blend of hard-working, very skilled technically, and also has a sound design sense. He is particularly strong with leading-edge code practice and new UX principles and theory. This makes him an ideal candidate for companies with ambitious plans who iterate quickly on concepts. I think my favorite part about Matthew is his attitude. He is always quick to find ways to make the best design possible, even if it means substantial technical work or learning something new. I have often heard PM's and designers say he is "delightful" to work with. I echo those sentiments. His leadership and talents will be a great addition to any team.
                a(href="#") Read all

      .swiper-pagination
      .swiper-button-prev
        +icon('prev')
      .swiper-button-next
        +icon('next')

  img(src="static/images/general/sea-vertical.svg", alt="").parallax.parallax-7
  img(src="static/images/general/sea-vertical.svg", alt="").parallax.parallax-8

// /.testimonial