header(class=headerClass).header
  .container
    a.logo.header__logo(href="./") Matthew J. Martin
    nav.nav.header__nav
      ul.nav-list
        li
          a(href="./#ps") Public speaking
        li
          a(href="./#consulting") Consulting
        li
          a(href="./#projects") Projects
        li
          a(href="./#pp") Press & Publications
        li.nav-list__drop
          a(href="#") . . .
          ul
            li
              a(href="./#resume") Resume
            li
              a(href="./#testimonials") Testimonials
            li
              a(href="#contacts") Contacts

      ul.social.header__social
        li.social__item.social__item--linkedin
          a(href="#")
            +icon('linkedin', 'social__icon')
            span Linkedin
        li.social__item.social__item--twitter
          a(href="#")
            +icon('twitter', 'social__icon')
            span Twitter

    button.nav-toggle
      .nav-toggle__line