header.header
  .container
    a.logo.header__logo(href="#") Matthew J. Martin
    nav.nav.header__nav
      ul.nav-list
        li
          a(href="#") Public speaking
        li
          a(href="#") Consulting
        li
          a(href="#") Projects
        li
          a(href="#") Press & Publications

        li
          a(href="#") Projects
        li
          a(href="#") Press & Publications
        li
          a(href="#") Projects
        li
          a(href="#") Press & Publications
        //- li.nav-list__drop
        //-   a(href="#") . . .
        //-   ul
        //-     li
        //-       a(href="#") Public speaking
        //-     li
        //-       a(href="#") Consulting

      ul.social.header__social
        li.social__item.social__item--linkedin
          a(href="#")
            +icon('linkedin', 'social__icon')
            span Linkedin
        li.social__item.social__item--twitter
          a(href="#")
            +icon('twitter', 'social__icon')
            span Twitter

    button.nav-toggle
      .nav-toggle__line